{% extends 'albuns/page_index.html' %} {% block content %} {% if images %}
<div class="row">
    <div class="col-md-10">
        <h1 class="jumbotron-heading">Álbuns</h1>
    </div>
    <div class="col-md-2">
        <form class="form-inline my-2 my-lg-0" action="{% url 'albuns_new' %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Adicionar</button>
        </form>
    </div>
</div>
<hr class="featurette-divider"> {% for image, album in images %}
<div class="row featurette">
    <div class="col-6 col-lg-6 order-md-2">
        <h2>{{ album.nome }}</h2>
        <p>
            <h5>Lançamento {{ album.data_lancamento }}</h5>
        </p>
        <p>
            <h5>Banda {{ album.banda }}</h5>
        </p>
        <div class="row">
            <div class="col-auto mr-auto">
                <p>
                    <a class="btn btn-warning" href="{% url 'albuns_edit' pk=album.pk %}" role="button">Editar</a>
                </p>
            </div>
            <div class="col-auto">
                <p>
                    <a class="btn btn-danger" href="{% url 'albuns_delete' pk=album.pk %}" role="button">Excluir</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="{{ image }}" alt="Generic placeholder image">
    </div>
</div>


{% endfor %} {% else %} Nenhum registro. {% endif %} {% endblock %}
